.primary-buttons {
  background: #006400;
}

.primary-buttons:hover {
  background: #002100 !important;
}

.App {
  width: 100%;
  /*text-align: center;*/

  .header {
    /*display: flex;*/
    background-color: #E34F30;
    height: 5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    /*width: 100%;*/

    nav {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: space-between;

      .cart-icon {
        cursor: pointer;

        svg {
          height: 1.5rem;
          width: 1.5rem;
        }
      }
    }

    .logo {
      display: block;
      height: 5rem;
    }

    .tab {
      color: white;
      text-decoration: none;
    }
  }

  .content-body {
    margin-top: 1rem;
    margin-left: 7rem;
    margin-right: 7rem;
  }
}
